
    <h1>Registration for student/staff</h1>
	<br>
	<div>
	<form id="form" onsubmit="return validate();">
	<br>

First Name:<input type="text" id="lname"><br><br>
Last Name:<input type="text" id="fname"><br><br>
Email:<input type="email" id="email1"><br><br>
Password:<input type="password" id="password"><br><br>
<label for="states">State:</label>

<select name="states" id="states">
    <option value="INV">State</option>
  <option value="TAS">TAS</option>
  <option value="VIC">VIC</option>
  <option value="QLD">QLD</option>
  <option value="ACT">ACT</option>
  <option value="NSW">NSW</option>
</select><br>
<br>
Electorate:<input type="text" id="pass"><br>
<br>
Street:<input type="text" id="passcon"><br>
<br>

City:<input type="text" id="lname"><br><br>
DOB(Date of Birth):<input type="date" id="dob"><br>
<br>

Phone number:<input type="number" id="phno"><br>
<br>
<br>
<button type="button" id= "bt2" class="btn btn-warning">Submit</button>
</form>

